# Comes from dds project
black
build
chardet
flake8
isort
pipenv
termynal
twine
pylint
mypy
# comes from Rotterdam template
setuptools>=65.6.3
wheel
pre-commit>=2.19.0
pylint>=2.13.8
pyyaml
pytest>=7.1.2
pytest-azurepipelines
pytest-cov
